body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

                              /* Header Styles */

header {
  border: 1px solid black;
  margin-bottom: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

header nav {
  width: 40%;
}

header i {
  font-size: 3em;
  color: black;
  margin: 0 1em;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: blue;
}

header li {
  list-style-type: none;
  font-size: 1.618em;
}

                                      /* LandingPage */

.landing-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12em;
}

.landing-page i {
  margin: 1em 0;
}

i:hover {
  color: blue;
}

                                      /* About Page */

.about-page {
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-page article {
  margin: 4em 0;
  display: flex;
}

.bio-copy {
  margin-left: 2em;
  font-size: 1.618em;
  width: 30%;
}

                                      /* Portfolio Styles */

.portfolio-page {
  display: flex;
  justify-content: center;
}

                                      /* Contact Styles */

.contact-page {
  display: flex;
  justify-content: center;
}

                                      /* Footer Styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 6em;
}
